/.vs
/**/obj
/**/bin
/packages
/PersisIntranet/node_modules
/PersisIntranet/logs
/ProjectsOnNetFramework/PersisIntranet/node_modules
/ProjectsOnNetFramework/PersisIntranet/logs
/ProjectsOnNetFramework/PersisIntranet/*.user
/Bitrix24RestApiClientNUnitTests/test.runsettings
